#main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.black{
    width: 600px;
    height: 600px;
    background-color: black;
    
    
}


#white{
    width: 600px;
    height: 600px;
    background-color: white;
    position: relative;
    right: 599px;
    border-radius: 50%;

}

#black-curcle{
    width: 200px;
    height: 200px;
    background-color: black;
    position: relative;
    right: 995px;
    border-radius: 50% ;
}