.green{
    background-color: rgb(0, 255, 0);
    border-color: rgb(255, 115, 0);
    border-radius: 2px;
    border-style: solid;
}

.red{
    background-color: #710000;
    border-color: #0000ff;
    border-style: double;
    border-radius: 1px;
}