#container{
    
    width: 700px;
    height: 700px;
    border: 3px solid rgb(0, 0, 97);
    display: flex;
    
}


.item1{
    width: 100px;
    height: 100px;
    border: 5px solid rgb(49, 0, 92);
    background-color: rgb(172, 168, 255);
    flex-grow: 2;
}

#item2{
    width: 100px;
    height: 100px;
    border: 5px solid rgb(49, 0, 92);
    background-color: rgb(116, 113, 169);
    flex-grow: 1;
}