@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* font-family: "Outfit", sans-serif; */


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:hsl(212, 45%, 89%) ;
}

#white-box{
    padding: 1.5%;
    width: 320px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    /* padding: 2%; */
}

img{
    width: 320px;
    margin-left:3px;
    border-radius: 10px;
}

#texts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}
h2{
    font-family: "Outfit", sans-serif;
    font-size: 25px ;
    margin-top: 20px;
}

h5{
    font-family: "Outfit", sans-serif;
    margin-top: 10px;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}