input{
    background-color: rgb(81, 193, 249);
    color: rgb(6, 88, 88);
    border: 2px solid rgb(10, 81, 95);
}


label{
    color: rgb(4, 99, 140);
}

button{
    background-color: rgb(81, 193, 249);
    color: rgb(6, 88, 88);
    border: 2px solid rgb(10, 81, 95);
}