body{
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #406ae3;
    min-height: 100vh;
}

div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e0b986;
    animation-name: move-to-right;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
}



@keyframes move-to-right{
    from{
        transform:translateY(0px);
    }


    to{
        transform: translateY(500px);
    }

}