


body{
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-top: 300px;
}


div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3fb2ff;
    transition: transform 5s;
    
}

div:active{
    transform: scale(5) translate(200px);
    background-color: #3fb2ff;
}